{% extends 'candeni/base.html' %}

<!DOCTYPE html>
<!--<body>-->
<!--<style>-->
<!--body {-->
<!--	background-image: url(../images/fon.jpg);-->
<!--}-->

<!--</style>-->
<!--</body>-->

{% block content %}

    <h1 style="color:#FFFFFF">О нашей компании</h1>
    <p style="color:#FFFFFF"> Candeni – та самая мебель, которая не только качественная, но и будет оставаться актуальной долгие годы!🤝
    <p style="color:#FFFFFF"> Модные тенденции, нестареющие тренды и классика – то, что отображено в каждой нашей модели стульев, кресел, диванов и тд.

    <p style="color:#FFFFFF">Что мы предлагаем нашим клиентам?
        <p style="color:#FFFFFF">💫 Практичные материалы
        <p style="color:#FFFFFF">💫 Высокое качество
        <p style="color:#FFFFFF">💫 Долговечность изделий
        <p style="color:#FFFFFF">💫 Широкие палитры для вашего удобства!

        <p style="color:#FFFFFF">Стильные, качественные и комфортные стулья, диваны и другая мебель от Candeni украсят не только дом, а также отлично впишутся в интерьер офиса, кафе, ресторанов и гостиниц!

        <p style="color:#FFFFFF">Мы создаем мебель под заказ, где вы выбираете нужные оттенки ткани и материалы, а мы вкладываем душу в свое дело💕.
    </p>
</body>
{% endblock %}